[Application]
name=ClickPoints
version={{version}}
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=ClickPoints:main
extra_preamble=extra_preamble.py
icon=icons/ClickPoints.ico
console=true

[Python]
version=3.5.1
format=bundled

[Include]
# Importable packages that your application requires, one per line
packages = numpy
    scipy
    sip
    PyQt4
    PIL
    qimage2ndarray
    peewee
    playhouse
    apsw
    pymysql
    natsort
    tifffile
    imageio
    psutil

    
# Other files and folders that should be installed
files = ConfigClickPoints.txt
    version.txt
    addons/
    icons/
    includes/
    installation/
    modules/
    package/
    update/
    
[Build]
nsi_template=pyapp_clickpoints.nsi
installer_name=ClickPoints_v{{version}}.exe